.container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
    
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .row{
      margin-top: 10px;
      padding: 80px;
      
  }
  img {
    vertical-align: middle;
    border-style: none;
    margin-left: -65px;
}
.text{
    text-align: center;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-left: 720px;
}